* {
    margin:0px;
    padding:0px;
  }

  #header {
    display: grid;
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  ul, ol {
    list-style:none;
  }
  
  .nav > li {
    float:left;
  }
  
  .nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 11px;
    display:block;
  }
  
  .nav li a:hover {
    background-color:#434343;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display:block;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
  }


.claudio{
    color: white;
    font-size: 50px;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
}

.imagenclaudio{
    width: auto;
    height: auto;
    display:block;
    margin:auto;
}

.textoclaudio{
    font-size: 21px;
    color: rgb(255, 255, 255);
    margin: 8px;
    font-family: 'Hammersmith One', sans-serif;
}

body{
  background-color: #f73a00;
  background-image: url("http://imgfz.com/i/1QrPEzc.jpeg");
  background-size: 100%;
}

img{
  width: 24%;
}


.row{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column{
  flex: 25%;
  padding: 5px;
}

.column img{
  margin-top: 5px;
  transform: rotate(356deg);
}