* {
  margin:0px;
  padding:0px;
}

#header {
  display: grid;
  margin:auto;
  width:500px;
  font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
}

.nav li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 11px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}



body {
    background-color: #f73a00;
    background-image: url("http://imgfz.com/i/29afAHJ.jpeg");
  }
  
  .culturabasura{
    width: 350px;
    height: 350px;
    display:block;
    margin:auto;

  }

  .titulo{
    color: blue;
    font-family: 'Dela Gothic One', cursive;
    font-style: italic;
    font-weight: absolute;
    text-align: center;
  }

  .titulo span{
    color:white;
}

.fecha{
    color: white;
    font-family: 'Dela Gothic One', cursive;
    font-style: italic;
    font-weight: absolute;
    text-align: center;
}
.fecha span{
    color: blue;
}

.canciones{
    color: white;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-weight: absolute;
    text-align: left;
    font-size: 30px;
}

.canciones span{
    color: blue;
}

.lista{
    color: blue;
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
    font-weight: absolute;
    text-align: left;
}


.precio{
    color: blue;
    font-family: 'Righteous', cursive;
    text-align: center;
}

.precio span{
    color: white;
    font-family: 'Righteous', cursive;
    font-style: italic;
    font-weight: absolute;
    text-align: left;
}

.tiendas{
  font-family: 'Righteous', cursive;
  color: white;
  text-align: center;
  
}

.tiendas .planeta span{
  font-family: 'Righteous', cursive;
  color: blue;
}

.tiendas .musica span{
  font-family: 'Righteous', cursive;
  color: blue;
}

.tiendas .rock span{
  font-family: 'Righteous', cursive;
  color: blue;
}


.historia{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
}

.losprisioneros span{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: white;
}

p{
    font-family: 'Fredoka One', cursive;
    color: blue;
    font-size: 22px;
}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 17px;
}

.primero span{
  color: black;
}

.segundo span{
  color: black;
}

.tercero span{
  color: black;
}

.cuarto span{
  color: black;
}

.quinto span{
  color: black;
}

.sexto span{
  color: black;
}

.septimo span{
  color: black;
}

.octavo span{
  color: black;
}

.noveno span{
  color: black;
}


.decimo span{
  color: black;
}


.decimo1 span{
  color: black;
}


.decimo2 span{
  color: black;
}

.decimo3 span{
  color: black;
}

.decimo4 span{
  color: black;
}