* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
    
}

.nav > li {
    float:left;
}

.nav li a {
    background-color: black;
    color: white;
    text-decoration:none;
    padding:10px 11px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}


.header{
   background-color: black;
    height: 100px;
}
.header__menu{
    float: right;
    padding-top: 20px;
    background-color: black;
}
.header__menu ul{
    display: flex;
}
.header__menu ul li {
    margin: 0 15px;
}

.header__menu ul li:hover ul li {
    color: greenyellow;
    display: none;
}

.header__menu ul li a{
    text-decoration: none;
    color: #fff;
}

#intro .intro__titulo{
    color: white;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-weight: absolute;
    font-size: 25px;
    text-align: center;
    margin:left;
	width:500px;

}

@media (max-width: 320px) {
    .content {
      padding: 0 3rem 0 3rem;
    }
  }

  

#intro .intro__texto{
    color: beige;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-weight: absolute;
    font-size: 25px;
    text-align: left;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    background-color: #f73a00;
    background-image: url("http://imgfz.com/i/2oyJwt4.jpeg");
    background-size: 100%;

  }